
@{
    ViewBag.Title = "EventStore administration";
    Layout = "~/Views/Shared/_BoxLayout.cshtml";
}

<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">EventStore administrator</h3>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Reset Database", "ResetDatabase")<br/>
        @Html.ActionLink("Replay Events", "ReplayEvents")<br/>
        @Html.ActionLink("Truncate Event Storage", "TruncateEventStorage")<br />
        <br/>
        @Html.ActionLink("Sign in", "Authenticate", "Account")<br />
        <br/>
        <table>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $.getJSON('@Url.Action("List")', function(data) {

            });
        });
    </script>

}
